.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;

  width: 400px;
}
.button-style {
  border: 2px solid #db1c48;
  color: #db1c48;
  background-color: transparent;
  border-radius: 10px;
  width: 100px;
  padding: 5px;
}
.image {
  height: 300px;
}
.additional-style {
  color: white;
  background-color: #db1c48;
}
